// !!!!!!!!!!!!!!!!!!!
// Left off: "We're different section"
// Just finished positioning the heading to avoid the padding from the landing section overlapping the text

// || Variables

$dark-violet: hsl(256, 26%, 20%);
$gray-blue: hsl(216, 30%, 68%);

$dark: hsl(270, 9%, 17%);
$gray: hsl(273, 4%, 51%);
$light: hsl(0, 0%, 98%);

$header-font: 'DM Serif Display', serif;
$body-font: Karla, sans-serif;

$header-height: 5rem;
$site-max-width: 1200px;

@mixin site-align {
  width: 100%;
  max-width: $site-max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

:root {
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: $body-font;
}

button {
  font-size: 100%;
  color: inherit;
  line-height: inherit;
  background: transparent;
  border: none;
  display: block;

  &:hover {
    cursor: pointer;
  }
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  font-family: $header-font;
  font-weight: 400;
  color: $dark;
}

// || card

.card {
  // text-align: center;
  // padding: 1.5rem;
  // display: flex;
  // flex-direction: column;

  &__img {
    margin-bottom: 1.5rem;
  }

  &__title {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
  }

  & p {
    color: $gray;
  }
}

// || btn

.btn {
  border: 2px solid white;
  padding: 0.5rem 2rem;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;

  &:hover {
    background-color: white;
    color: $dark-violet;
  }

  &--cta {
    display: block;
    width: 100%;

    &:hover {
      color: $dark;
    }
  }
}

// || utility
.hidden {
  display: none;
}

.section--fluid {
  width: 100%;
}

.section--truncated {
  // margin: 1.5rem;
}

.section {
  width: 100%;
  max-width: $site-max-width;
  margin: auto;

  &--fluid {
    max-width: 100%;
  }

  &--truncated {
    margin: 1.5rem;
  }
}

.no-scroll {
  overflow: hidden;
}

// || header

.header {
  @include site-align;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// || nav

.nav {
  &__toggle {
    line-height: 1;
  }

  &__list {
    display: none;
    letter-spacing: 0.05rem;
    text-transform: uppercase;

    &--open {
      font-size: 1.25rem;
      display: flex;
      flex-direction: column;
      padding: 1.5rem;
      position: absolute;
      top: $header-height;
      left: 0;
      height: calc(100vh - 5rem);
      width: 100%;
      z-index: 5;

      color: white;
      text-align: center;
      font-weight: 700;
      background: url('./images/bg-pattern-mobile-nav.svg') no-repeat bottom
          center / 100%,
        $dark;

      & li {
        display: block;
        margin: 1rem 0;
        height: auto;
      }
    }
  }
}

// || landing section

.landing {
  background-color: $dark-violet;
  width: 100%;
  // background: url('./images/bg-pattern-intro-right-mobile.svg') no-repeat bottom
  //     right,
  //   $dark-violet;

  &__content {
    max-width: $site-max-width;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    position: relative;
  }

  &__left {
    order: 2;
    text-align: center;
    padding: 5rem 1.5rem 5rem;
    position: relative;
    z-index: 1;

    & h1 {
      font-size: 2.9rem;
      line-height: 1;
      margin-bottom: 1rem;
      color: white;
    }

    p {
      margin-bottom: 2rem;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
    }
    &::before {
      background: url('./images/bg-pattern-intro-left-mobile.svg') no-repeat top
        left;
      width: 168px;
      height: 165px;
      top: 0;
      left: 0;
    }

    &::after {
      background: url('./images/bg-pattern-intro-right-mobile.svg') no-repeat
        bottom right;
      width: 124px;
      height: 330px;
      bottom: 0;
      right: 0;
      transform: translateY(11rem);
    }
  }

  &__right {
    order: 1;
  }

  &__img {
    display: block;
  }
}

// || features section

.features__wrap {
  @include site-align;
  padding-top: 9rem;
}

.features {
  padding-top: 2rem;
  text-align: center;
  position: relative;

  &:before {
    content: '';
    height: 1px;
    width: 10rem;
    position: absolute;
    background-color: $gray;
    top: 0;
    right: calc(50% - 5rem);
  }

  & h2 {
    font-size: 2.75rem;
    line-height: 1;
    margin-bottom: 5rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
    // justify-content: center;
    margin-bottom: 8rem;
  }
}

// || find out more

.find-out-more {
  padding: 4rem 2rem;
  display: grid;
  place-items: center;
  grid-gap: 2.5rem;
  background: url('./images/bg-pattern-how-we-work-mobile.svg') no-repeat top
      right,
    $dark-violet;
  color: white;

  & h2 {
    font-size: 2.5rem;
    line-height: 1;
    color: white;
  }
}

// || footer

.footer {
  max-width: 100vw;
  overflow: hidden;
  margin-top: 10rem;
  background: url('./images/bg-pattern-footer-mobile.svg') no-repeat top left,
    $light;

  &__wrap {
    @include site-align;
  }

  &__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0 2rem;
    border-bottom: 1px solid #d9d9d9;
  }

  &__logo {
    margin-bottom: 2rem;
  }

  &__social-list {
    display: flex;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__social-link:hover {
    filter: brightness(50%);
  }

  &__bottom {
    text-transform: uppercase;
    padding-top: 1rem;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
  }

  &__title {
    font-size: 1rem;
    color: $gray;
  }

  &__list {
    margin-bottom: 2rem;

    & > *:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__link {
    color: $dark-violet;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
    }
  }
}

// || media queries

@media screen and (min-width: 540px) {
  .landing {
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
    }

    // Bottom-left
    &::after {
      background: url('./images/bg-pattern-intro-left-desktop.svg');
      width: 195px;
      height: 504px;
      left: 0;
      bottom: 0;
      transform: translateY(21rem);
    }

    &__content {
      @include site-align;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;
      justify-items: end;
    }

    &__right {
      transform: translateY(50%);
    }

    // Left-side on desktop (bottom on mobile), contains heading text
    &__left {
      order: 1;
      text-align: left;
      padding: 3rem 0;

      &::after,
      &::before {
        display: none;
      }
    }
  }

  .features__wrap {
    padding-top: 20rem;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    &__toggle {
      display: none;
    }

    &__list {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: auto;
      position: relative;
      font-weight: 700;

      & li {
        margin-left: 2rem;
      }
    }

    &__link {
      color: $gray;

      &:hover {
        color: $dark;
      }
    }
  }

  .landing {
    &__left,
    &__right {
      transform: translateY(3rem);
    }

    &__left::before {
      content: '';
      display: block;
      width: 10rem;
      height: 1px;
      background: white;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .btn {
    &--cta {
      border-color: $dark;
      color: $dark;
      font-weight: 700;

      &:hover {
        background-color: $dark;
        color: white;
      }
    }
  }

  .footer {
    background-image: url('./images/bg-pattern-footer-desktop.svg');

    &__top {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 3rem 0 2rem;
    }

    &__logo {
      margin: 0;
    }

    &__bottom {
      padding: 4rem 0;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      text-align: left;
      align-items: start;
    }
  }
}

@media screen and (min-width: 1020px) {
  .landing {
    &__left,
    &__right {
      transform: translateY(8rem);
    }
  }

  .features {
    text-align: left;

    &:before {
      left: 0;
    }

    & h2 {
      font-size: 5rem;
    }
  }

  .find-out-more {
    padding: 4rem;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    text-align: left;
    background-image: url('./images/bg-pattern-how-we-work-desktop.svg');
  }
}

@media screen and (min-width: 1200px) {
  .landing {
    &__left {
      & h1 {
        font-size: 5rem;
      }
    }

    // Top-right
    &::before {
      background: url('./images/bg-pattern-intro-right-desktop.svg');
      top: 0;
      right: 0;
      width: 436px;
      height: 593px;
      z-index: 2;
    }
  }

  .find-out-more h2 {
    font-size: 3.5rem;
  }
}
