// Variables

$bg-intro: hsl(217, 28%, 15%);
$bg-main: hsl(218, 28%, 13%);
$bg-footer: hsl(216, 53%, 9%);
$bg-testimonial: hsl(219, 30%, 18%);

$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$error: hsl(0, 100%, 63%);

$heading-font: Raleway, sans-serif;
$body-font: 'Open Sans', sans-serif;

// General styles

:root {
  font-size: 100%;
  line-height: 1.5;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: $body-font;
  color: white;
  background-color: $bg-main;
  font-size: 14px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

button,
input {
  font-size: 100%;
  font-family: inherit;
  line-height: inherit;
  overflow: visible;
}

button {
  text-transform: none;
  -webkit-appearance: none;
  color: inherit;
  background: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

h1,
h2,
h3 {
}

// || header and nav

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem;

  &__logo {
    width: 5rem;
  }
}

.nav {
  &__list {
    display: flex;
    justify-content: flex-end;

    & li {
      margin-left: 2rem;
    }
  }

  &__link {
    &:hover {
      text-decoration: underline;
      font-weight: 700;
    }
  }
}
