/* || general styles */

:root {
  font-size: 15px;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --dark-blue: rgb(76, 78, 97);
  --gray-blue: hsl(229, 6%, 66%);
  --light-gray: hsl(0, 0%, 98%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--light-grey);
  color: var(--dark-blue);
  padding: 2rem;
}

/* || header */

.header {
  width: 100%;
  max-width: 500px;
  margin: 2.75rem auto 4.5rem;
  text-align: center;
}

.header h1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.title,
.subtitle {
  display: block;
}

.title {
  font-weight: 200;
}

.subtitle {
  font-weight: 600;
}

.header p {
  font-weight: 200;
}

@media screen and (min-width: 600px) {
  .header h1 {
    font-size: 2.1rem;
  }
}

/* || card */

.cards {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.card__wrap {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  justify-items: center;
}

.card {
  width: 100%;
  max-width: 320px;
  background-color: white;
  padding: 1.75rem;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  font-size: 0.9rem;
  box-shadow: 0 6px 6px rgba(76, 78, 97, 0.03),
    0 12px 10px rgba(76, 78, 97, 0.05), 0 20px 18px rgba(76, 78, 97, 0.08);
}

/* Using a pseudo class to style the cards' colored tops (instead of border-top), because a border-top will be curved at the corners when the element has a border radius; and the mockups have a flat edge at the corners */
.card::before {
  content: '';
  width: 100%;
  height: 3px;
  top: 0;
  left: 0;
  position: absolute;
}

#supervisor::before {
  background-color: var(--cyan);
}

#team-builder::before {
  background-color: var(--red);
}

#karma::before {
  background-color: var(--orange);
}

#calculator::before {
  background-color: var(--blue);
}

/* #supervisor {
  border-top-color: var(--cyan);
} */

.card h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.card p {
  margin-bottom: 2.5rem;
  font-weight: 200;
}

.card img {
  float: right;
}

@media screen and (min-width: 768px) {
  .card__wrap {
    grid-template-columns: repeat(2, 320px);
    grid-template-rows: repeat(5, 1fr);
  }

  #supervisor {
    grid-column: 1;
    grid-row: 2 / 4;
  }
  #team-builder {
    grid-column: 1;
    grid-row: 4 / 6;
  }
  #karma {
    grid-column: 2;
    grid-row: 1 / 3;
  }
  #calculator {
    grid-column: 2;
    grid-row: 3 / 5;
  }
}

@media screen and (min-width: 1140px) {
  .card__wrap {
    grid-template-columns: repeat(3, 320px);
    grid-template-rows: repeat(4, 1fr);
  }

  #supervisor {
    grid-column: 1;
    grid-row: 2 / 4;
  }
  #team-builder {
    grid-column: 2;
    grid-row: 1 / 3;
  }
  #karma {
    grid-column: 2;
    grid-row: 3 / 5;
  }
  #calculator {
    grid-column: 3;
    grid-row: 2 / 4;
  }
}
